# FastAPI and Web Server
fastapi[all]
uvicorn
gunicorn

# Database
sqlalchemy
pymysql
alembic

# Configuration & Security
pydantic[dotenv]
passlib[bcrypt]
python-jose[cryptography]
python-multipart

# Device Connectors
routeros-api
netmiko
ncclient
pyunifi
pyhikvision
docker
pysnmp
onvif-zeep
wsdiscovery

# Other Utilities
requests
httpx
pywebpush
apscheduler
reportlab
jinja2
lxml
